
/* For screens 700px and up, use a grid with 3 columns for figures */
@media (min-width: 700px) {
  #hamburger {
    display: none;
  }
  #nav-menu { /* Always show nav menu on larger screens */
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background: var(--nav-bg);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 1rem 0;
    width: 100%;
  }
  #nav-menu.open { 
    display: flex; 
  }
  #nav-menu a { /* Adjust nav links for larger screens */
    width: auto;
    text-align: left;
    font-size: 1.1rem;
  }

  main { /* Change main to a 3-column grid */
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  figure img { 
    max-width: 100%;
  }
}





